<!--
  La declaración del DOCTYPE debe ser el primer elemento en un documento html;
  es una instrucción que indica al navegador que versión de html usar
-->
<!DOCTYPE html>
<html lang="es">
  <head>
    <!--
      Indicamos el encoding del documento html.
    -->
    <meta charset="utf-8">
    <!--
      El viewport es el área visible del usuario en la página web, la cual varía
      de un dispositivo a otro. el elemento viewport le da instrucciones al
      navegador para controlar las dimensiones y escala.
     -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spotify REST client</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  </head>
  <body>
      <!--
        Usamos el motor de plantillas handlebars para separar la generación de
        html del resto del código javascript; la forma en que handlebars funciona
        es creando la estructura HTML que deseamos insertar en el DOM dentro de
        un script tag. Es importante que el tag sea del type text/x-handlebars-template
        ya que el navegador no lo reconocerá y por tanto no intentará parsear el
        javascript.
      -->
      <script id="template" type="text/x-handlebars-template">
          <table class="table">
              <tr>
                  <th></th>
                  <th>Canción</th>
                  <th>Artista</th>
                  <th>Album</th>
              </tr>
              <tbody>
                <!--
                  Handlebars no permite escribir directamente código javascript
                  en la plantilla, en vez, proporciona helpers (each,if,etc.),
                  para crear plantillas complejas.
                -->
                  {{#each tracks.items}}
                    <tr>
                        <td>
                            <img src="{{album.images.2.url}}"/>
                        </td>
                        <td>{{name}}</td>
                        <td>{{artists.0.name}}</td>
                        <td>{{album.name}}</td>
                    </tr>
                  {{/each}}
              </tbody>
          </table>
      </script>
      <div class="container">
          <h1>Busca una canción en spotify</h1>
          <form class="form-inline">
              <input id="query" type="text" class="form-control"></input>
              <button id="search" type="button" class="btn btn-primary">Buscar</button>
          </form>
          <div id="result-placeholder"></div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
      <script src="js/app.js"></script>
  </body>
</html>
